<h1>  DATA SCIENCE TOOLS and ECOSYSTEM </h1>


In this notebook, Data Science Tools and Ecosystem are summarized

<h1> In this notebook, Data Science Tools and Ecosystem are summarized </h1>

<h2> Some of the popular languages that Data Scientists use are: </h2>
order list 

1.  PYTHON
2.  C++
3.  JAVA
4.  R

<h2> Some of the commonly used libraries used by Data Scientists include: </h2>
order list

 1.  Datasets
 2.  caret
 3.  plot
 4.  cv2

| Data Science | TOOLS  | TABLE  |
| -------------| ------ |--------|
|Tools         |  works |     IDE|
|R Studio      |Statical|   free |
| Juptier      |vizali  |   free |

<h3> Below are a few examples of evaluating arithmetic expressions in Python </h3>

In [6]:
#This a simple arithmetic expression to mutiply then add integers
print((3*4)+5)

17

In [7]:
# This will convert 200 minutes to hours by diving by 60
a = 200
b = 60
result=a/b
print(result)

3.3333333333333335

**List popular languages for Data Science**

 unorderlist 
 
 -  R 
 - python
 - power BI
 - Java
 - SQL 
 - c++
 - c#
 - ruby
 - anaconda
 - php

<h2> AUTHOR Name</h2>

**MEHRAN KHAN**